{% extends 'base.html' %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="btn-group mx-auto" style="width: 200px;">
    <a href="{% url 'logout' %}" class="btn btn-primary"> logout </a>
    <a href="{% url 'sessions' %}" class="btn btn-primary">Main</a>
    <a href="{% url 'film' %}" class="btn btn-primary"> Films </a>
        {% if request.user.is_authenticated %}
    <a href="{% url 'purchase' %}" class="btn btn-primary"> Purchases </a>
        {% endif %}
    {% if request.user.is_authenticated == False %}
        <a href="{% url 'registration' %}" class="btn btn-primary"> Register </a>
        <a href="{% url 'login' %}" class="btn btn-primary"> Login </a>
    {% endif %}
    </div>
    </nav>
    <div>
    {% for obj in object_list %}
        Name: {{ obj.name }}
        <br>
        Size: {{ obj.size }}
        <hr>
        {% if request.user.is_superuser %}
        <form method="get" action="{% url 'update-hall' obj.id%}">
        <input type="submit" value="To edit">
        {% endif %}
        </form>
    {% endfor %}
    {% if request.user.is_superuser %}
    <form method="post" action="{% url 'hall-create' %}">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Add hall">
    </form>
    {% endif %}
    </div>
{% endblock %}